body{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 3%;
}
.h1-col{
    color: tomato;
}
section{
    display: flex 50%;
}
h1{
    font-size: 40px;
    padding: 2%;
}
.p-i{
    display: flex;
    font-size: 18px;
    padding-left: 5%;
    width: 80%;
}
a{
    text-decoration: none;
    background-image: linear-gradient(teal, rgba(115, 115, 252, 0.685));
    border-radius: 10%;
    font-size: 120%;
}
.tbc{
    color: white;
}
.s2f{
    background-image: url("images/shapes/7.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
.i-p{
    display: flex;
    font-size: 18px;
    padding-left: 10%;
}
.line{
    padding-left: 10%;
}
.s2h{
    padding-left: 50%;
}
#side{
    padding-left: 60%;
}
.s3h{
    padding-left: 40%;
}
.s3p{
    padding-left: 28%;
    padding-right: 20%;
}
.box{
display: flex;
padding-left: 16%;
padding-bottom: 10%;
}
.box-a{
    height: 420px;
    width: 184px;
    padding: 20px;
    border:1px solid whitesmoke;
    background-color: white;
    box-shadow: 10px 10px 10px 10px whitesmoke;
    border-radius: 18px;
    margin: 20px;
}
.box-b{
    height: 420px;
    width: 184px;
    padding: 20px;
    border:1px solid whitesmoke;
    background-color: white;
    box-shadow: 10px 10px 10px 10px whitesmoke;
    border-radius: 18px;
    margin: 20px;
}.box-c{
    height: 420px;
    width: 184px;
    padding: 20px;
    border:1px solid whitesmoke;
    background-color: white;
    box-shadow: 10px 10px 10px 10px whitesmoke;
    border-radius: 18px;
    margin: 20px;
}
.im{
    border-radius: 10px;
}
h4{
    padding-left: 15%;
}
#s4i{
    text-align: center;
    display: flex;
    width: 550px;
    border:1px solid white;
    background-color: white;
    box-shadow: 10px 10px 10px 10px whitesmoke;
    border-radius: 10px;
    margin-left: 25%;
    margin-bottom: 5%;
}
.l-p{
    padding: 2%;
}
.la-se{
    background-color: teal;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 35%;
}